{% extends "base.html" %}
{% block content %}
<div class="card card-custom">
    <div class="card-header">
        <div class="row">
            <h3 class="card-title">
                {{message}}
            </h3>
        </div>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <div class="card-body">
            
            <div class="form-group row">
                <label class="col-lg-3 col-form-label text-right">Quantité:</label>
                <div class="col-lg-6">
                    <input type="number" min="1" name="qte" value="{{provision_eau.qte}}" required class="form-control" placeholder="quantité"/>
                    
                </div>
            </div>

            

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6"> 
                    <button type="submit" class="btn font-weight-bold btn-primary mr-2">Enregistrer</button>
                   <a href="" class="btn font-weight-bold btn-secondary"> Annuler</button></a>
                </div>
            </div>
        </div>
    </form>
    
</div>    
  
  
{% endblock content %}